
body {
    #background-image: url('/ephod-stones/media/SSSbg2.jpg');
    #background-repeat: no-repeat;
    #background-attachment: fixed;
    #background-size: contain;
    background-color: 051931;
    color: eeeeee;
}

h1, h2, h3 {
    color: ffdf96;
    font-weight: 300;
}

li {
    color: eeeeee;
}

p {
  font-size: 1.5em;
}
